In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [17]:
dataframe = pd.read_csv('consumenten.csv')

In [19]:
dataframe.head()

,Segment,1986 April,1986 mei,1986 juni,1986 juli,1986 augustus,1986 September,1986 oktober,1986 November,1986 December,...,2019 januari,2019 februari,2019 maart,2019 April,2019 mei,2019 juni,2019 juli,2019 augustus,2019 September,2019 oktober
0,Consumentenvertrouwen,2,8,15,20,21,21,21,21,20,...,1,-2,-4,-3,-3,0,2,0,-2,-1
1,Economisch klimaat,6,17,33,45,47,45,45,44,43,...,3,1,-3,-3,-2,2,6,-1,-3,-4
2,Koopbereidheid,0,1,3,4,4,5,6,5,5,...,-1,-3,-4,-3,-3,-2,-1,0,-1,1
3,Economische situatie afgelopen 12 maande,6,17,35,49,53,52,52,50,49,...,16,14,9,8,7,11,13,9,8,7
4,Economisch situatie komende 12 maanden,5,16,30,41,41,39,39,38,37,...,-9,-13,-15,-13,-12,-7,-1,-10,-14,-14